.body {
    margin: 0;
    background-image: url(../IMAGES/background.jpg);
    background-size: cover;
}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    max-height: auto;
    padding: 5px;
    background-color: wheat;
    display: flex;
    align-items: center;
}

.bold-text {
    font-weight: bold;
}

.sub-header {
    font-size: larger;
    font-style: oblique;
    margin-left: auto;
}

.login {
    font-size: larger;
    font-style: oblique;
    margin-left: auto;
    padding-right: 10px;
}

.register-container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    font-style: oblique;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.col {
    flex: 1;
    margin-bottom: 10px;
}

.col1 {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    align-items: center; /* Align items vertically within each row */
    padding-left: 50px;
    margin-bottom: 10px;
}

.gender-container {
    display: flex;
    align-items: center; /* Align gender labels and radio buttons vertically */
}

.col2 {
    flex: 1;
    padding-right: 100px;
}

.col3 {
    display: flex;
    align-items: center;
}

input, button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

label {
    width: 100px;
    display: inline-block;
}

.button {
    background-color: #c2b280;
    color: #fff;
    cursor: pointer;
    width: 300px;
    font-style: oblique;
    flex: 1;
    margin: 0 5px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.button:hover {
    background-color: #c2a480;
}

.login a:hover {
    color: #536878;
}

.sub-header a:hover {
    color: #536878;
}

.sub-header a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.login a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-weight: bold;
}

.footer {
    background-color: wheat;
    text-align: center;
    font-style: oblique;
    padding: 1px; /* Add padding top and bottom for better appearance */
    position: static; /* Position the footer fixed at the bottom */
    width: auto;
}

.footer-container {
    justify-content: center;
    align-items: center;
}

.logo-container {
    margin-bottom: 10px;
}
